
.site-container {
    display: grid;
    grid-template-areas: "sidebar header header header"
                         "sidebar main main main"
                         "sidebar main main main"
                         "sidebar main main main"
                         "sidebar main main main"
                         "sidebar main main main"
                         "sidebar main main main"
                         "sidebar main main main";
    height: 100vh;
}

header {
    background-color: whitesmoke;
    grid-area: header;
    padding: 1em;
    color: rgb(15, 139, 255);
}

main {
    background-color: rgb(223, 239, 255);
    grid-area: main;
    padding: 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

main h2 {
    margin: 0;
}

aside {
    background-color: rgb(15, 139, 255);
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: whitesmoke;
    padding-left: 1em;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin: 0.5em 0;
}